/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

/* Utils */
.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #FF6900;
    box-shadow: 0px 6px 5px lightgray;
}

/* Altezza logo header */
header div img {
    height: 25px;
}

/* Classe per gestire i link */
.link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* Main */
main {
    padding: 100px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    position: relative;
}

.card img {
    height: 430px;
    width: 0 auto;
}

.card-details {
    font-size: 10px;
}

.new-price {
    font-weight: bold;
    color: red;
}

.old-price {
    text-decoration: line-through;
}

.small-box {
    font-size: 10px;
    position: absolute;
    bottom: 100px;
    color: white;
    font-weight: bold;
    padding: 2px 3px;
}

.favourites {
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 10px 10px;
    right: 0;
    top: 10px;
    bottom: 428px;
}

.discount {
    left: 0px;
    background-color: red;
}

.sustainability {
    left: 35px;
    background-color: green;
}

#last-card {
    left: 0;
}