/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

/* HEADER */
/* Stili per l'header */
header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #FF6900;
    box-shadow: 0px 6px 5px lightgray;
    z-index: 1;
}

/* Altezza del logo nell'header */
header div img {
    height: 25px;
}

/* Stili per i link */
.link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* MAIN */
/* Stili per il contenuto principale */
main {
    padding: 100px;
}

/* Stili per il contenitore dei prodotti */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Stili per ogni card di prodotto */
.card {
    position: relative;
}

/* Stili per le immagini all'interno delle card */
.card img {
    height: 430px;
    width: 100%;
    display: block;
}

/* Effetto overlay sull'immagine di sfondo delle card */
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

/* Mostra l'immagine di sfondo quando si passa sopra alla card */
.card:hover::before {
    opacity: 1;
}

/* Stili per le singole card quando si passa sopra */
.first-card:hover::before {
    background-image: url(img/1b.webp);
}

.second-card:hover::before {
    background-image: url(img/2b.webp);
}

.third-card:hover::before {
    background-image: url(img/3b.webp);
}

.fourth-card:hover::before {
    background-image: url(img/4b.webp);
}

.fifth-card:hover::before {
    background-image: url(img/5b.webp);
}

.sixth-card:hover::before {
    background-image: url(img/6b.webp);
}

/* Stili per i dettagli dei prodotti all'interno delle card */
.card-details {
    font-size: 10px;
}

/* Stili per il prezzo del prodotto */
.new-price {
    font-weight: bold;
    color: red;
}

/* Stili per il prezzo barrato */
.old-price {
    text-decoration: line-through;
}

/* Stili per i piccoli box di testo posizionati in basso a sinistra delle card */
.small-box {
    font-size: 10px;
    position: absolute;
    bottom: 100px;
    color: white;
    font-weight: bold;
    padding: 2px 3px;
}

/* Stili per l'icona preferiti */
.favourites {
    align-self: center;
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 10px 10px;
    right: 8px;
    top: 10px;
    bottom: 428px;
    cursor: pointer;
}

/* Cambio colore icona preferiti quando si passa sopra */
.favourites:hover {
    color: red;
}

/* Stili per il box di sconto */
.discount {
    left: 0px;
    background-color: red;
}

/* Stili per il box di sostenibilità */
.sustainability {
    left: 35px;
    background-color: green;
}

/* Stili per l'ultima card nel layout */
#last-card {
    left: 0;
}

/* FOOTER */
/* Stili per il footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    background-color: #1A1A1A;
    box-shadow: 5px -6px 5px lightgray;
}

/* Stili per i social media nel footer */
.footer-social {
    text-align: center;
}